<div id="<%= dom_id deal_category %>">
  <p>
    <strong>Category:</strong>
    <%= deal_category.category_id %>
  </p>

  <p>
    <strong>Deal:</strong>
    <%= deal_category.deal_id %>
  </p>

</div>
