<p style="color: green"><%= notice %></p>

<h1>Deal categories</h1>

<div id="deal_categories">
  <% @deal_categories.each do |deal_category| %>
    <%= render deal_category %>
    <p>
      <%= link_to "Show this deal category", deal_category %>
    </p>
  <% end %>
</div>

<%= link_to "New deal category", new_deal_category_path %>
