<div id="<%= dom_id deal %>">
  <p>
    <strong>Author:</strong>
    <%= deal.author_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= deal.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= deal.amount %>
  </p>

</div>
