<h1>Deals</h1>

<div id="deals">
  <% @deals.each do |deal| %>
    <%= render deal %>
    <p>
      <%= link_to "Show this deal", deal %>
    </p>
  <% end %>
</div>

<%= link_to "New deal", new_deal_path %>
