<main class"welcome">



<h1 class="greeting">Welcome to</h1>
<p class"title">RDee Budget App</p>

<button><%= link_to "LOG IN", new_user_session_path %></button>
<button><%= link_to "SIGN UP", new_user_registration_path %></button>
</main>