<main class"welcome">

<h1 class="title">RDee Budget App</h1>

<button><%= link_to "LOG IN", new_user_session_path %></button>
<button><%= link_to "SIGN UP", new_user_registration_path %></button>
</main>