<main class="welcome">

<h1 class="greeting">Diva Spends</h1>

<div class="btn-welcome">
<button class="login"><%= link_to "LOG IN", new_user_session_path %></button>
<button class="signup"><%= link_to "SIGN UP", new_user_registration_path %></button>
</div>

</main>