* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: rgba(240, 245, 245, 0.5);
}

.greeting {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  padding-top: 80%;
  text-align: center;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.btn-welcome {
  margin-top: 95%;
}

.login,
.signup {
  display: block;/* align-items: center; */
  padding: 14px;
  margin: 12px auto;
  border: none;
  font-size: 16px;
  background: #3778c2;
}

.login a {
  color: white;
}

.signup {
  background: #f5f5f5;
  color: #434b54;
}

.registration {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 1rem;
  width: 100%;
}

.navbar {
  background-color: #3778c2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.arrow-link {
  font-size: 40px;
  font-weight: 900;
  color: #fff;
  width: 20px;
}

h2.login {
  color: #fff;
  padding-top: 12px;
  font-size: 20px;
}

.login-btn {
  color: #fff;
  font-size: 18px;
  border: none;
  background: none;
  padding-top: 14px;
}

.logout {
  margin-top: 12px;
}

.logout-nav {
  font-size: 20px;
}

.logout-nav button {
  padding: 0.5rem 1rem;
}

.login-field {
  width: 80%;
  height: 40px;
  padding: 4px;
  display: block;
  margin: 12px auto;
}

.checkbox-field,
.forgot_password {
  text-align: center;
  display: block;
  color: #434b54;
}

.category_icon {
  height: 70px;
  width: 70px;
}

.deal {
  width: 100%;
}

.category-cart {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.deal-box {
  display: flex;
  flex-direction: row;
  width: 90%;
  padding: 12px;
  gap: 0.5rem;
  background-color: #fff;
  margin: 8px auto;
  border-radius: 8px;
}

.category-details {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
}

.total_box {
  background-color: #fff;
  padding: 24px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.deal-box1 {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 12px;
  gap: 0.5rem;
  background-color: #fff;
  margin: 8px auto;
  border-radius: 8px;
}

.labela {
  font-size: 18px;
  font-weight: bold;
  padding-left: 4px;
  text-align: center;
  display: block;
}

.form_divas {
  display: block;
  margin: 0 auto;
  padding-left: 10%;
  font-size: 18px;
}

.category_button {
  padding: 8px;
  margin: 12px auto;
  display: block;
  border: 2px solid #fff;
  background-color: #5fb523;
  border-radius: 4px;
  color: #fff;
}

.chose-icon {
  display: block;
  margin: 0 auto;
}
