<%= render partial: 'shared/nav', locals: {title: 'New category', symbol:'<', url: 'categories_path'}%>

<%= render "form", category: @category %>

<br>

<div>
  <%= link_to "Back to categories", categories_path %>
</div>
